.text-input {
  background-color: $light-grey;
  border: none;
  border-bottom: 1px solid $orange;
  color: $almost-white;
  line-height: 30px;

  &:focus {
    outline: none;
  }
}

kt-select {
  color: $almost-white;
  display: inline;
  cursor: pointer;

  .select {
    &-container {
      position: relative;
    }

    &-list {
      border: 1px solid $orange;
      display: inline-flex;
      flex-direction: column;
      height: 35px;
      overflow: hidden;

      div {
        line-height: 35px;
        padding: 0 25px 0 5px;
      }

      .select-default {
        border-bottom: 1px solid $almost-white;
      }

      .select-option:hover {
        background-color: $medium-grey;
      }

      &.open {
        height: unset;
      }
    }

    &-icon {
      bottom: 3px;
      color: $orange;
      font-size: .9em;
      position: absolute;
      right: 10px;
    }
  }
}