@import '../vars';

.nav {
  &-wrapper {
    padding-top: 20px;
  }

  &-title {
    color: $pure-white;
    font-size: 1.7em;
    margin: 0 0 20px;
    text-align: center;
  }

  &-logo {
    display: block;
    margin: 0 auto;
    width: 150px;
  }

  .menu {
    color: $pure-white;

    &-item {
      i {
        color: $orange;
        font-size: 1.2em;
        margin-right: 15px;
      }
    }

    &-link {
      align-items: center;
      color: $almost-white;
      display: flex;
      height: 46px;
      padding: 0 30px;
      text-align: center;

      &.active {
        background-color: $dark-grey;
        color: $pure-white;
      }
    }
  }
}