.page-host {
  height: 100%;
}

.main-menu {
  background-color: $medium-grey;
  display: inline-block;
  height: 100%;
  width: 300px;
}

.content {
  background-color: $light-grey;
  float: right;
  height: 100%;
  padding: 35px 30px;
  width: calc(100% - 300px);

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media all and (max-width: 1360px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}