$sizes: 5px, 10px, 15px, 20px, 30px, 40px;

@each $s in $sizes {
  .margin-top-#{$s} {
    margin-top: $s;
  }

  .margin-right-#{$s} {
    margin-right: $s;
  }

  .margin-bottom-#{$s} {
    margin-bottom: $s;
  }

  .margin-left-#{$s} {
    margin-left: $s;
  }
}

.inline {
  display: inline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}